.outer{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;    
}

.friends {
    border-style: solid;
    border-width: 3px;
    border-color: aqua;
}

.rooms {
    border-style: solid;
    border-width: 3px;
    border-color: red;   
}

.centerChat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myName{
    border-style: solid;
    border-width: 3px;
    border-color: blue; 
}

.allText{
    border-style: solid;
    border-width: 3px;
    border-color: blue; 
}

.myText{
    border-style: solid;
    border-width: 3px;
    border-color: blue; 
}